.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.error h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.error p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--color-gray);
}

.error button {
  border-radius: 3rem;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  /* width: 250px; */
  font-size: 2rem;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
}
